

#page-modal{


    #img-modal{
        width: 2rem;
    }
    
    .modal-wrapper {
        visibility: hidden;
        opacity: 0;
        position: fixed;
      }
      
      .modal-wrapper.on {
        height: 100vh;
        width: 100vw;
      
        position: fixed;
        top: 0;
        left: 0;
      
        background: rgba(0, 0, 0, 0.8);
      
        display: flex;
        justify-content: center;
        align-items: center;
      
        visibility: visible;
        opacity: 1;
      }
      
      .modal {
        background: #F0F2F5;
      
        border-radius: 0.313rem;
      
        padding: 2.5rem;
      
        text-align: center;
        margin-left: 10%;
        max-width: max-content;

        img {
            margin-bottom: 2rem;
        }
      
        h3 {
        
            font-family: IBM Plex Sans;
            font-weight: 600;
            font-size: 2rem;
            line-height: 2.625rem;
        
            margin-bottom: .5rem;
        }
        
       p {
            margin-bottom: 2rem;
            text-align: center;
            color: black;
        }
      
       footer button {
            padding: 0.75rem 3rem;
            border-radius: 0.313rem;
        
            font-family: IBM Plex Sans;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 1.625rem;
            text-transform: uppercase;
        
            transition: all .2s;
        
            cursor:pointer;
        }
         footer{
            display: flex;
            justify-content: space-around;
        }
      }
    
      #btn-cancell{
          color: black;
          padding: 1rem;
          margin-right: 5rem;
      }
    
      #btn-cancell:hover{
          background-color:rgb(13, 223, 223);
          border-radius: 30px;
      }
      
      .modal footer button + button {
        margin-left: .5rem;
      }
      
      .modal footer button:nth-child(1) {
        background: white;
      }
      
      .modal footer button:nth-child(1):hover {
        background: #FA3F38;
      }
      
    
      
      .modal footer button:nth-child(2):hover {
        background-color: #FA3F38;
      }
    
} 

#edit{
  width: max-content;
  margin-left: 48%;
}
